
.mangrong {
  height: 1000px;
}
* { margin: 0; padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  border-style: hidden; 
  border: 0px; border:none;
  outline: none;}

.clear {clear: both; } 
a {text-decoration: none;}
html {scroll-behavior: smooth;}
li {  list-style: none;}
body {background-image: url(../images/Nen_Rong_Cuon.png);
  background-repeat: repeat;
  background-size:contain;}

.nenbia {
  position: relative;;
  display: flex;
  padding-top: 48%;
  background-image: url(../images/nen_menutrai_ngang.jpg);
  background-repeat: no-repeat;
  background-clip:padding-box;
  background-size: cover;
}
.biagiapha {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 10px 15px 15px rgba(27, 27, 26, 0.7);
}
.image_bia img{
  width: 100%;
  bottom: 0;
  border-radius: 10px;
}
#header {
  background-color: rgba(140, 25, 5, 75%);
  z-index: 999;
} 
.header_img {
  position: relative;
}
.header_img .CuonthuRongchau {
  top: 0;
  width: 100%;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(27, 27, 26, 0.7);
}
.header_img .Logo_Hacnang {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(245, 245, 8, 0.8); 
}
.header_nav {
  position: relative;
  width: 100%;
  height: 52px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerlogo {
  position:absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 26px;
  height: 28px;
  float: left;
  margin: 0 0 0 3%;
  background-image: url("https://xuanphao19.github.io/GiaPha_Ho_Nguyen_LangPhong_NhoQuan/assets/images/icon_home.png");
  background-repeat: no-repeat;
  background-size:cover;
}
.header_nav .nav {
  width: 100%;
}
.nav_list {
  margin-left: 6%;
}

.nav_list > li {
  float: left;
  min-width: 100px;
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
}
.nav_list > li >a{
  padding: 2px 10px;
  color: #f5f508cc;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(62, 49, 177, 0.46);
}
.nav_list .nav_item { 
  position: relative;
}
.subnav {
  position: absolute;
  top: 50px;
  margin-left: -10px;
  display: none;
}
.subnav li {
  min-width: 220px;
  height: 40px;
  text-align: left;
  background-color: rgba(207, 221, 221, 0.5);
  box-shadow: 0 0 5px rgb(0 0 0 );
  border-radius: 4px;
  z-index: 9999;
}
.subnav li a { display: inline;
  margin: 10px; padding: 2px 4px;
  font-size: 16px;
  color: brown;
  line-height: 40px;
  text-shadow: 0.5px 0.5px 0 rgba(62, 49, 177, 0.6);}

.nav_list>li:hover >.subnav {
  display: block; cursor: pointer; }

.subnav>li:hover,  
.nav_list > li:hover {
  cursor: pointer;
  text-align: center; 
  border-radius: 5px;
  background-color: rgba(255, 252, 248, 0.3);
  box-shadow: 0 0 4px rgba(109, 112, 109, 0.8);
}
.nav_list li:hover li {
  border-radius: 5px; 
  background-color: rgba(255, 251, 248, 0.4);
  box-shadow: 0 0 4px rgba(89, 92, 92, 0.8);}
.nav_list>li:hover>a, 
.subnav >li:hover>a {
  border-radius: 4px;
  color:saddlebrown;
  background-color: rgba(240, 223, 200, 0.8); 
  box-shadow: 0 0 2px rgba(27, 27, 26, 0.7); 
  text-shadow: 0 1px 1px rgba(255, 255, 0, 0.8);}


        /* Tạm okokok !!!!!!!!!!!!@@@@@@@@@ */
        
#slider {

}
.slider_bgr .topnews{
  width: 80%;
  margin-left: 10% ;
}

.slider_text {

}

/* end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* end !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.text-chaohoi marquee {   
  position: fixed; 
  top: 10px; left: 0; right: 0;
  height: 130px; width:100%; 
  text-align: center !important;
  font-style: italic; font-weight: 900; 
  color: rgb(255, 0, 0); 
  text-shadow: 0 0 1px rgb(228, 253, 3);
z-index: 1;}

  @keyframes toi { 0% { color: #0004ff;} 
  50% { color: rgb(0, 255, 76); } 100% { color: #0011ff; }} 
.langphong  {font-weight:bold; font-size: 40px; 
  -webkit-animation: toi 2000ms infinite; 
  -moz-animation: toi 2000ms infinite; 
  -o-animation: toi 2000ms infinite;
  animation: toi 2000ms infinite; z-index: 555;}

 @keyframes my { 0% { color: #ff00f2;} 
 50% { color: rgb(9, 255, 0); } 100% { color: #ff0000; }}
.giapha-chuchay, #gioithieu h2 {
  font-weight:bold; 
  -webkit-animation: my 1500ms infinite; 
  -moz-animation: my 1500ms infinite; 
  -o-animation: my 2000ms infinite;
  animation: my 600ms infinite; z-index: 5;}


