@media only screen and (max-width: 768px) {
  #header {width:100%; left: 0; }
  #navtop #nav .subnav-mobi { display:none;}
  .headphones {top: 0px; right: 0px;} 
  .headphones .ti-headphone-alt {padding: 13px 10px;}
  .giapha-chuchay { font-size: 25px !important;}
  .langphong {margin-left: 60px; font-size: 20px;}
  .slide { width: 95%; margin: 195px 2.5% 0 2.5%;}
  #loinoidau {width: 100%;
    margin: 40px 10px 0 15px; font-size: 14px;}
  #loinoidau .lndau {margin-left: 5px;}
  #loinoidau p { margin-left: 20px;}
  #gioithieu { font-size: 14px;}
  #gioithieu h2 { font-size: 17px;}
  
  
  
  
  .anhchay marquee { width:100%; height:120px; bottom: 15px; left: 5px; right:5px;}
  
  }