                  * { margin: 0;  padding: 0;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;  
                    -webkit-box-sizing: border-box; 
                    border-style: hidden;  border: 0px; border:none;}
                  
                    .clear {clear: both; }    
                     html {scroll-behavior: smooth;}
                   a {text-decoration: none;}

   /* Khai báo phần tử chung:start! */

                  body {background-color: rgba(207, 198, 198, 0.411);}
                  
                  #header {
                    position: fixed;
                    top: 0; left: 10%;
                    width: 80%; height: 48px;
                    margin: 0 0; float: left;
                    background-color: rgba(99, 97, 92, 0.692);
                    box-shadow: 2px 2px 0 rgba(27, 27, 26, 0.815); 
                    display: flex; z-index: 155; border-radius: 4px;}
                  
                  .logo-lang>img,
                  #logo {font-size: 0;  position: fixed; top: 0px;
                    z-index: 15;  display: block;
                    width: 40px; height: 40px; border-radius: 3px;
                    box-shadow: 0 0 20px rgba(231, 247, 11, 0.767);}
                  .logo-lang>img:hover { -webkit-transform: scale(1.5); cursor: pointer;
                    transform: scale(1.5);  box-shadow: 0 0 15px rgba(255, 0, 0, 0.76) }
                  
                  #header #navtop {font-size: 0;  margin-left: 45px;}
                  
                  #navtop #nav >li {
                    position: relative;  top: 0; 
                    width: 156px; height: 48px; 
                    display: inline-block;
                    background-color: rgba(207, 221, 221, 0.429);
                    list-style-type: none;
                    box-shadow: 0 0 5px rgba(34, 36, 36, 0.429);
                    text-align: center;
                    font-size: 15px;}
                  
                  #navtop > #nav >li >a {
                    line-height: 48px; padding: 2px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    border-radius: 4px;
                    color: brown;
                    text-shadow: 0 1px 1px yellow;}
                  #nav .subnav {
                    position: absolute;
                    font-size: 0; 
                    display: none;}
                  
                  #nav .subnav li { 
                    width: 156px;
                    height: 40px;
                    text-align: left;
                    background-color: rgba(207, 221, 221, 0.429);
                    box-shadow: 0 0 5px rgb(0 0 0 );
                    border-radius: 4px;}
                  
                  .subnav li a { display: inline;
                    margin: 5px; padding: 2px;
                    font-size: 13px;
                    color: brown;
                    line-height: 30px;}
                  
                  #nav >li:hover .subnav {
                    display: block; cursor: pointer; }
                  .subnav >li:hover,  #nav li:hover {
                     text-align: center; border-radius: 5px;
                     background-color: rgba(255, 252, 248, 0.507);
                     box-shadow: 0 0 4px rgba(109, 112, 109, 0.931);cursor: pointer;}
                  #nav li:hover li {border-radius: 5px; background-color: rgba(255, 252, 248, 0.466);
                     box-shadow: 0 0 4px rgba(89, 92, 92, 0.938);}
                  #navtop #nav>li:hover>a {background-color: rgba(240, 223, 200, 0.294); }
                  #nav>li:hover>a, .subnav >li:hover>a {border-radius: 4px;
                     box-shadow: 2px 2px 0 rgba(27, 27, 26, 0.815); 
                     background-color: rgba(240, 223, 200, 0.657); 
                     text-shadow: 0 1px 1px rgba(255, 255, 0, 0.692);}    
                  
                  .headphones {
                     float: right; position:fixed; top: 0px; right: 10%;
                     color: blue; font-weight: 900; line-height: 48px;} 
                  .headphones .ti-headphone-alt {padding: 8px 27px; text-shadow: 0 0 7px rgba(247, 7, 7, 0.794);}
                  .headphones .ti-headphone-alt:hover { background-color: rgba(243, 15, 61, 0.76);
                   color: yellow; cursor: pointer;}
                  
                  
                   #main { text-align: center; margin: 0px 10%; width: 80%; height: 999999px;}
                  
                   .slide { width: 80%; margin: 156px 10% 0 10%; 
                     box-shadow: 0 0 5px rgba(190, 76, 76, 0.8);
                     padding-top: 54%; border-radius: 5px;
                     background: url('../images/dangnhang.png'); 
                     background-position: bottom right;
                     background-origin: border-box;
                     background-size: cover; background-attachment: scroll;
                     background-repeat: no-repeat;}
                   .text-chaohoi marquee { position: fixed; top: 20%; left: 0; right: 0;
                     height: 130px; width:100%; text-align: center !important;
                     font-style: italic; font-weight: 900; 
                     color: rgb(255, 0, 0); text-shadow: 0 0 1px rgb(228, 253, 3);}
                   .langphong  {font-weight:bold; font-size: 40px;  
                     -webkit-animation: toi 2000ms infinite; 
                     -moz-animation: toi 2000ms infinite; 
                     -o-animation: toi 1500ms infinite;
                     animation: toi 700ms infinite; z-index: 55;}
                   @keyframes my { 0% { color: #ff00f2;} 
                   50% { color: rgb(9, 255, 0); } 100% { color: #ff0000; }}
                   .giapha-chuchay, #gioithieu h2 {font-weight:bold; -webkit-animation: my 1500ms infinite; 
                     -moz-animation: my 1500ms infinite; -o-animation: my 2000ms infinite;
                     animation: my 600ms infinite; z-index: 5;}
                   @keyframes toi { 0% { color: #0004ff;} 
                     50% { color: rgb(0, 255, 76); } 100% { color: #0011ff; }}
                   
                   .anhchay { position: fixed; bottom: 28px; right: 7%; z-index: 9; border-radius: 5px;}
                   #loinoidau {width: 80%; height: 400px; 
                     margin: 60px 10% 0 10%; color: blue;
                     text-align: left; font-style: italic;}
                   #loinoidau h3 {margin-left: 65px; text-shadow: 2px 2px black}
                   #loinoidau p { margin-left: 25px;}
                   #gioithieu { margin: 5% 10%; text-align: left;}
                   #gioithieu h4 {text-align: center; white-space: -1px; text-transform: uppercase;
                     text-shadow: 2px 1px 1px rgba(224, 109, 109, 0.931);}
                   #gioithieu p {margin-left: 15px; margin-top: 25px;}
                   #gioithieu h2 { text-align: center;
                     font-style: italic; margin: 25px; color: brown;
                     font-family: Arial, Helvetica, sans-serif;}
                   .anhgiadinhthanhvien {margin: 25px; margin-left: 10%; }
                   .hoatdongthuongnien { width:80%; height: 500px; text-align: center; 
                     margin: 25px; margin-left: 10%;}
                   .hoatdongthuongnien h2 { 
                     text-align: center; font-family: Arial, Helvetica, sans-serif;
                     color:red; text-shadow: 2px 2px rgba(255, 255, 0, 0.534);}
                   .hoatdongthuongnien h5 {margin: 20px; text-align: left; font-style:italic;}

.vocon-sunghiep {width: 25%; height:100%; float: left; 
background-color: rgb(245, 237, 237); margin: 30px 17px;
box-shadow: 0 5px 7px rgb(122, 110, 110);border-radius: 5px;}
.text-name {font-family: Arial, Helvetica, sans-serif; font-size: 25px;
  color: black; text-transform: uppercase; text-shadow: 1px 1px 1px blue; 
  text-align: center; padding-top: 25px;}
.img-daidien {width: auto; max-width: 30%; min-width:25%; height: 35%; margin: 30px 0 0 25px;}
#cu-nghi-ong { width: 90%; height: 450px;
  margin: left 13.2%;  text-align: left;}
#cu-nghi-ong,
#cu-nghi-ba,
#nhanh-ong-ly,
#nhanh-ong-cuu,
#nu-tu-cu-nghi,
#de-ton-cu-nghi,
#nguyen-quach-yen,
#nguyen-van-ngu,
#nguyen-van-dang,
#nguyen-quach-chu,
#nguyen-quach-bang,
#nguyenthibut,
#nguyen-quach-quang,
#nguyen-thanh-quang,
#nguyen-thi-minh,
#nguyen-ngoc-trinh,
#nguyen-thi-cuc,
#nguyen-thanh-hoa,
#nguyen-tuan-dat,
#nguyen-tuan-doan,
#nguyen-thi-ngan,
#nguyen-van-don,
#nguyen-van-cat,
#nguyen-thi-man,
#nguyen-van-ninh, 
#nguyen-van-chuong,
#nguyen-thi-ngux,
#nguyen-van-thang,
#nguyen-van-du,
#nguyen-thanh-tuan,
#nguyen-thanh-nga,
#nguyen-thanh-long,
#nguyen-ngoc-nien,
#nguyen-ngoc-trong,
#nguyen-ngoc-dai,
#nguyen-thu-trang,
#nguyen-thu-huong,
#nguyen-ha-trang,
#nguyen-xuan-phao  {width: 100%; height: 450px;}

#nguyen-quach-yen {width: 82%; height: 450px;
  margin-left: auto; margin-right: auto; text-align: left;}
#nguyen-quach-yen> .vocon-sunghiep {width: 23%; height:100%; float: left; 
  background-color: rgb(245, 237, 237); margin: 30px 12.5px;
  box-shadow: 0 5px 7px rgb(122, 110, 110);border-radius: 5px;}
  #nguyen-quach-yen> .vocon-sunghiep > .text-name {font-family: Arial, Helvetica, sans-serif; font-size: 25px;
    color: black; text-transform: uppercase; text-shadow: 1px 1px 1px blue; 
    text-align: center; padding-top: 25px;}


#footer {
}
.cackenhlienhe li {list-style-type: none;}
















